[Unit]
Description=Minecraft Server Backup Service

[Service]
Type=oneshot

User=minecraft
Group=minecraft
WorkingDirectory=/opt/sfw/mc
ExecStart=/opt/sfw/mc/minecraft-backup.sh start
